@model ProjectSS.Web.Models.ProposalViewModel
@{
    ViewBag.Title = "_Create";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="myModalLabelSmall" class="modal-title">Create</h4>
    </div>
    <div class="modal-body">
        @Html.DropDownListFor(model => model.CRMId, (List<SelectListItem>)ViewBag.CRMs, "Select CRM", new { @class = "form-control", @required = "required", })
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-xs">Create</button>
        <a href="" type="button" class="btn btn-info btn-xs" data-dismiss="modal">Back</a>
    </div>
</div>
